In [3]:
import pandas as pd

sales_df = pd.read_csv('Sales.csv')
products_df = pd.read_csv('Products.csv')
stores_df = pd.read_csv('Stores.csv')
exchange_rates_df = pd.read_csv('Exchange_Rates.csv')
customers_df = pd.read_csv('Customers.csv', encoding='latin1')

### Handling Missing Values

In [2]:
sales_df = sales_df.drop(['Delivery Date'], axis=1)

In [3]:
stores_df['Square Meters'] = stores_df['Square Meters'].fillna(0)
customers_df['State Code'] = customers_df['State Code'].fillna('NAP')

### Formatting Data

In [4]:
def clean_currency_column(df, column_name):
    df[column_name] = (
        df[column_name]
        .str.replace('$', '', regex=False)  # Remove $
        .str.replace(',', '', regex=False)  # Remove commas
        .str.strip()                        # Remove leading and trailing spaces
        .astype(float)                      # Convert to float
    )

clean_currency_column(products_df, 'Unit Cost USD')
clean_currency_column(products_df, 'Unit Price USD')

In [5]:
def convert_to_datetime(df, column):
    df[column] = pd.to_datetime(df[column], format='%m/%d/%Y')

convert_to_datetime(sales_df, 'Order Date')
convert_to_datetime(customers_df, 'Birthday')
convert_to_datetime(exchange_rates_df, 'Date')
convert_to_datetime(stores_df, 'Open Date')

In [6]:
exchange_rates_df['Exchange'] = exchange_rates_df['Exchange'].astype(float)
stores_df['Square Meters'] = stores_df['Square Meters'].astype(int)

In [7]:
customers_df['Zip Code'] = customers_df['Zip Code'].astype(str).str.strip()
for index, row in customers_df.iterrows():
    zip_code = str(row['Zip Code'])
    if len(zip_code) < 5:
        customers_df.at[index, 'Zip Code'] = zip_code.zfill(5)

In [8]:
products_df['Product Name'] = products_df['Product Name'].apply(lambda s: ' '.join(s.split()[:-1]))

In [9]:
place_to_state_code = {
    'West Lancashire': 'WL', 'Aberdeenshire': 'AS', 'North Hertfordshire': 'NH', 'Harrogate': 'HG',
    'Cotswold': 'CT', 'Hereford': 'HR', 'Rother': 'RT', 'Daventry': 'DV', 'Leicester': 'LC',
    'North Ayrshire': 'NA', 'Ceredigion': 'CD', 'Kent': 'KT', 'Aylesbury Vale': 'AV', 'Shropshire': 'SR',
    'West Lindsey': 'WL', 'Teignbridge': 'TB', 'Aberdeen': 'AB', 'Lincoln': 'LN', 'Bristol': 'BS',
    'Wiltshire': 'WS', 'Amber Valley': 'AV', 'Comhairle nan Eilean Siar': 'CNES', 'Carmarthenshire': 'CM',
    'Mendip': 'MP', 'Exeter': 'EX', 'Wakefield': 'WF', 'Angus': 'AG', 'Falkirk': 'FK', 'Suffolk': 'SF',
    'Llandrindod Wells': 'LW', 'Canterbury': 'CT', 'Dumfriesshire': 'DS', 'Lewes': 'LW', 'Northumberland': 'ND',
    'West Dorset': 'WD', 'Kennet': 'KN', 'Scottish Borders': 'SB', 'North Lincolnshire': 'NL', 
    'Bracknell Forest': 'BF', 'Waveney': 'WV', 'Colchester': 'CL', 'Argyllshire': 'AGY', 'County Durham': 'CD',
    'Eden': 'ED', 'Melton': 'MT', 'Tamworth': 'TM', 'Sevenoaks': 'SK', 'Cornwall': 'CW', 'Mid Suffolk': 'MS',
    'South Oxfordshire': 'SO', 'Somerset': 'SM', 'East Ayrshire': 'EA', 'Doncaster': 'DN', 
    'Telford and Wrekin': 'TW', 'Wolverhampton': 'WV', 'Gloucester': 'GL', 'Shetland': 'SH', 'West Devon': 'WD',
    'Orkney Islands': 'OI', 'North Yorkshire': 'NY', 'Wigtownshire': 'WG', 'Perth and Kinross': 'PK',
    'East Hertfordshire': 'EH', 'South Holland': 'SH', 'Isle of Wight': 'IW', 'Highland': 'HI', 'St Albans': 'SA',
    'South Buckinghamshire': 'SB', 'Copeland': 'CP', 'Cardiff': 'CF', 'Newport': 'NP', 'Cheshire East': 'CE',
    'Pembrokeshire': 'PM', 'Christchurch': 'CC', 'Tewkesbury': 'TK', 'Newark and Sherwood': 'NS', 'Babergh': 'BG',
    'Plymouth': 'PL', 'Moray': 'MY', 'Braintree': 'BR', 'Winchester': 'WC', 'Swansea': 'SW', 'Rushcliffe': 'RC',
    'West Lothian': 'WL', 'Derbyshire Dales': 'DD', 'Erewash': 'ER', 'Stratford-on-Avon': 'SA', 'Bassetlaw': 'BL',
    'Kirkcudbrightshire': 'KB', 'Liverpool': 'LV', 'Lancaster': 'LC', 'East Devon': 'ED', 'Norfolk': 'NF',
    'South Lanarkshire': 'SL', 'Anglesey': 'AN', 'Suffolk Coastal': 'SC', 'North Dorset': 'ND', 'Crawley': 'CL',
    'Gwynedd': 'GW', 'Breckland': 'BR', 'Redbridge': 'RB', 'Warwick': 'WK', 'Horsham': 'HR', 'Cherwell': 'CW',
    'Craven': 'CV', 'South Derbyshire': 'SD', 'South Lakeland': 'SL', 'Dudley': 'DY', 'Allerdale': 'AL',
    'Sheffield': 'SF', 'Brighton and Hove': 'BH', 'South Somerset': 'SS', 'Stockton-on-Tees': 'ST', 'Carlisle': 'CL',
    'South Kesteven': 'SK', 'Rugby': 'RG', 'Arun': 'AR', 'Chichester': 'CH', 'Oxford': 'OX', 'Nottingham': 'NT',
    'Hampshire': 'HS', 'Forest Heath': 'FH', 'Charnwood': 'CH', 'Bedford': 'BD', 'Selby': 'SB', 'Powys': 'PW',
    'West Norfolk': 'WN', 'Tunbridge Wells': 'TW', 'Rutland': 'RT', 'Wigan': 'WG', 'Cambridge': 'CB', 
    'Haringey': 'HY', 'Bromley': 'BM', 'South Hams': 'SH', 'Berkshire': 'BK', 'Monmouthshire': 'MN',
    'Bath and North East Somerset': 'BNES', 'Chiltern': 'CT', 'Burnley': 'BY', 'Bromsgrove': 'BG', 'Preston': 'PT',
    'Staffordshire': 'ST', 'Mid Sussex': 'MS', 'St Edmundsbury': 'SE', 'Sunderland': 'SN', 'Denbighshire': 'DB',
    'Flintshire': 'FL', 'Swale': 'SW', 'West Oxfordshire': 'WO', 'East Northamptonshire': 'EN', 'Wealden': 'WE',
    'Westminster': 'WM', 'East Riding of Yorkshire': 'ERY', 'York': 'YK', 'Edinburgh': 'ED', 'North Kesteven': 'NK',
    'Bridgend': 'BD', 'Vale of White Horse': 'VWH', 'Merton': 'MT', 'East Dorset': 'ED', 'Newmarket': 'NM',
    'Birmingham': 'BM', 'Mid Devon': 'MD', 'East Hampshire': 'EH', 'Cheshire West and Chester': 'CWC', 
    'North Lanarkshire': 'NL', 'Vale of Glamorgan': 'VG', 'Isle of Man': 'IM', 'Rotherham': 'RM', 'Leeds': 'LS',
    'Fylde': 'FL', 'Wirral': 'WR', 'Brentwood': 'BW', 'East Staffordshire': 'ES', 'Uttlesford': 'UT', 'Conwy': 'CY',
    'Glasgow': 'GL', 'South Ayrshire': 'SA', 'Stevenage': 'SG', 'Chesterfield': 'CF', 'Test Valley': 'TV', 'Ely': 'EY',
    'North Warwickshire': 'NW', 'Midlothian': 'ML', 'Darlington': 'DL', 'North East Lincolnshire': 'NEL',
    'South Staffordshire': 'SS', 'Wrexham': 'WX', 'Chelmsford': 'CL', 'Central Bedfordshire': 'CB', 
    'Rhondda Cynon Taf': 'RCT', 'Ashford': 'AF', 'Hillingdon': 'HD', 'Welwyn Hatfield': 'WH', 'North Somerset': 'NS',
    'Stroud': 'ST', 'Peterborough': 'PB', 'Guildford': 'GD', 'Dundee': 'DU', 'Sussex': 'SX', 'Bradford': 'BD',
    'New Forest': 'NF', 'Fife': 'FF', 'Worcester': 'WR', 'East Lothian': 'EL', 'Gedling': 'GL', 'Gravesham': 'GV',
    'West Dunbartonshire': 'WD', 'Ashfield': 'AF', 'Dacorum': 'DC', 'Boston': 'BS', 'Maidstone': 'MS', 
    'West Berkshire': 'WB', 'Hambleton': 'HM', 'Bolsover': 'BS', 'Neath Port Talbot': 'NPT', 'Wycombe': 'WC',
    'Tendring': 'TG', 'Warrington': 'WN', 'Tandridge': 'TD', 'Enfield': 'EF', 'South Norfolk': 'SN', 'Milton Keynes': 'MK',
    'Reigate and Banstead': 'RB', 'Waverley': 'WV', 'Wyre Forest': 'WF', 'Hastings': 'HS', 'Huntingdonshire': 'HN',
    'Swindon': 'SW', 'Kirklees': 'KL', 'Ipswich': 'IP', 'South Gloucestershire': 'SG', 'Kinross-Shire': 'KS',
    'East Lindsey': 'EL', 'Camden': 'CM', 'Lichfield': 'LF', 'Ribble Valley': 'RV', 'Newcastle': 'NC', 'Mole Valley': 'MV',
    'Wyre': 'WR', 'Tower Hamlets': 'TH', 'Caerphilly': 'CF', 'Ripon': 'RP', 'Gateshead': 'GH', 'Medway': 'MW',
    'Redcar & Cleveland': 'RC', 'Calderdale': 'CD', 'East Dunbartonshire': 'ED', 'Bury': 'BY', 'Havering': 'HV',
    'Kensington and Chelsea': 'KC', 'South Northamptonshire': 'SN', 'Broxtowe': 'BT', 'Torridge': 'TD', 'Barnet': 'BN',
    'Tameside': 'TM', 'Knowsley': 'KN', 'Wellingborough': 'WB', 'Harrow': 'HW', 'Spelthorne': 'SP', 'Lanarkshire': 'LK',
    'Malvern Hills': 'MH', 'Wokingham': 'WM', 'Hackney': 'HK', 'Harlow': 'HL', 'Renfrewshire': 'RN', 'Sefton': 'SF',
    'Woking': 'WK', 'Redditch': 'RD', "Purbeck": "PBK", "Bolton": "BLT", "Wandsworth": "WND", "Stirling": "STR",
    "Walsall": "WLS", "Rossendale": "RSL", "Sutton": "STN", "Merthyr Tydfil": "MTY", "Dartford": "DFD", 
    "Rochdale": "RCD", "Southampton": "SOU", "Runnymede": "RND", "Cannock Chase": "CNC", "Sandwell": "SWL",
    "Basildon": "BSD", "Islington": "ISL", "Nuneaton & Bedworth": "NAB", "Broxbourne": "BXB", "Coventry": "CVT"
}

customers_df['State Code'] = customers_df.apply(lambda row: place_to_state_code.get(row['State'], row['State Code']), axis=1)

In [10]:
customers_df['Country'] = customers_df['Country'].str.title()
customers_df['State Code'] = customers_df['State Code'].str.upper()
customers_df['City'] = customers_df['City'].str.title()

In [12]:
def change_column_name(df):
    df.columns = [col.replace(' ', '_') for col in df.columns]

change_column_name(sales_df)
change_column_name(customers_df)
change_column_name(products_df)
change_column_name(exchange_rates_df)
change_column_name(stores_df)

### Storing

In [1]:
import mysql.connector
connection = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "MySql_Password",
    database = "2_dataspark")
cursor = connection.cursor()

In [19]:
create_tables_query = """

-- Creating the Customers table
CREATE TABLE customers (
    CustomerKey INT PRIMARY KEY,
    Gender VARCHAR(10),
    Name VARCHAR(100),
    City VARCHAR(100),
    State_Code VARCHAR(10),
    State VARCHAR(100),
    Zip_Code VARCHAR(20),
    Country VARCHAR(100),
    Continent VARCHAR(50),
    Birthday DATE
);

-- Creating the Products table
CREATE TABLE products (
    ProductKey INT PRIMARY KEY,
    Product_Name VARCHAR(100),
    Brand VARCHAR(100),
    Color VARCHAR(50),
    Unit_Cost_USD DECIMAL(10, 2),
    Unit_Price_USD DECIMAL(10, 2),
    SubcategoryKey INT,
    Subcategory VARCHAR(100),
    CategoryKey INT,
    Category VARCHAR(100)
);

-- Creating the Stores table
CREATE TABLE stores (
    StoreKey INT PRIMARY KEY,
    Country VARCHAR(100),
    State VARCHAR(100),
    Square_Meters INT,
    Open_Date DATE
);

-- Creating the Exchange_Rates table
CREATE TABLE exchange_rates (
    Date DATE,
    Currency VARCHAR(10),
    Exchange DECIMAL(10, 4),
    PRIMARY KEY (Date, Currency)
);

-- Creating the Sales table with foreign keys
CREATE TABLE sales (
    id INT AUTO_INCREMENT PRIMARY KEY,
    Order_Number INT,
    Line_Item INT,
    Order_Date DATE,
    CustomerKey INT,
    StoreKey INT,
    ProductKey INT,
    Quantity INT,
    Currency_Code VARCHAR(10),
    FOREIGN KEY (CustomerKey) REFERENCES customers(CustomerKey),
    FOREIGN KEY (StoreKey) REFERENCES stores(StoreKey),
    FOREIGN KEY (ProductKey) REFERENCES products(ProductKey),
    FOREIGN KEY (Order_Date, Currency_Code) REFERENCES exchange_rates(Date, Currency)
);
"""
cursor.execute(create_tables_query)

In [20]:
from sqlalchemy import create_engine
db_engine = create_engine('mysql+mysqlconnector://root:MySql_Password@127.0.0.1/2_dataspark', echo=False)

customers_df.to_sql('customers', db_engine, if_exists='append', index=False)
products_df.to_sql('products', db_engine, if_exists='append', index=False)
stores_df.to_sql('stores', db_engine, if_exists='append', index=False)
exchange_rates_df.to_sql('exchange_rates', db_engine, if_exists='append', index=False)
sales_df.to_sql('sales', db_engine, if_exists='append', index=False)